@import "tailwindcss";
* {
  scrollbar-color: oklch(54.742% 0.24331 262.725 / 0.4) #00000041;
}
a.active {
  background: oklch(65.613% 0.24084 353.961 / 0.404);
  color: #ffffff;
}
.test {
  clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
}
th {
  background: #000000;
}
tr {
  transition: 0.9s background ease-in-out;
}
tr:hover {
  transition: 0.9s background-color ease-in-out;
}

#filter-form input[type="checkbox"] ~ label {
  border: #797979 solid 1px;

  padding: 5px;
  color: #cecece;
}
#filter-form input:checked ~ label {
  background: oklch(37.1% 0 none);

  color: white;
}
input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
button {
  background: oklch(20.5% 0 none);
}
button.btn-active {
  background: oklch(35.881% 0.14368 278.82 / 0.05);
  color: white;
  /* background: linear-gradient(
    to bottom,
    oklch(35.881% 0.14368 278.82 / 0.05),
    oklch(37% 0.013 285.805)
  ); */
}
#mode-view-btn-card > button.bg-neutral-700 {
  color: white;
}
@media (width >= 768px) {
  #filter-form input[type="checkbox"] ~ label:hover {
    background: oklch(37.1% 0 none);
    color: white;
  }
}
